@import url('../../index.css');

@keyframes slide-up {
	from {
		transform: translateY(200px);
	}
	to {
		transform: translateY(0px);
	}
}

.background-bar {
	position: absolute;
	width: 100vw;
	min-width: 1920px;
	height: 500px;
	top: 0;
	left: 0;
	z-index: -99999;
	translate: 0 2000px;
	animation: slide-up .5 ease-in-out;
}

.background-dark {
	background-color: var(--bg-color-1);
}

.background-light {
	background-color: var(--bg-color-2);
}