@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply font-paragraph;
	@apply text-gray-300;
	@apply text-center;

	margin: 0;
	padding: 0;
}

body {
	@apply bg-black bg-opacity-95;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
