@font-face {
	font-family: 'Lato';
	src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato Bold';
	src: local('Lato Bold'), url('./fonts/Lato-Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
	@apply font-paragraph;
	@apply text-gray-100;
	@apply text-center;
	
	margin: 0;
	padding: 0;
}

body {
	@apply bg-black bg-opacity-90;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-shadow {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.text-shadow-xl {
	text-shadow: 3.5px 3.5px 4px rgba(0, 0, 0, 0.75);
}

.text-neon-blue-500 {
	text-shadow: 0, 0, 5px, rgba(59, 130, 246, 1);
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99999;
}
