@font-face {
	font-family: 'Lato';
	src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato Bold';
	src: local('Lato Bold'), url('./fonts/Lato-Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

:root {
	--bg-color-1: rgba(14, 14, 14);
	--bg-color-2: rgba(19, 19, 19);
}

* {
	@apply font-paragraph text-gray-100 text-center;
	
	margin: 0;
	padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;

	background-color: var(--bg-color-2);
}

::-webkit-scrollbar {
  display: none;
}

.text-neon-blue {
	text-shadow: 
		0 0 2px rgba(255, 255, 255, 0.3),
		0 0 5px rgba(1, 111, 255, 0.7),
		0 0 8px rgba(0, 15, 230, 1),
		0 0 10px rgba(0, 15, 230, 1);
}

.text-shadow {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.text-shadow-xl {
	text-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.8);
}

@keyframes wave-animation {
	from {
		translate: translateX(0px);
	}
	to {
		translate: translateX(1000px);
	}
}

.background-wave {
	position: absolute;
	z-index: -99999;
	background: url('./svgs/darkWave.svg') repeat-x;
	width: 100vw;
	height: 200px;
	transform-origin: left;
	transform: scaleX(8);
	animation: wave-animation 10s ease-in-out;
}

.background-dark {
	background-color: var(--bg-color-1);
}

.background-light {
	background-color: var(--bg-color-2);
}